services:
  db:
    image: mariadb:11.4
    restart: unless-stopped    
    command: --transaction-isolation=READ-COMMITTED --binlog-format=ROW --innodb-file-per-table=1 --skip-innodb-read-only-compressed
    container_name: nextcloud-mariadb
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
    env_file: .env      
    networks:
      - frontend
    volumes:
      - db:/var/lib/mysql
      - /etc/localtime:/etc/localtime:ro
  
  app:
    image: nextcloud:32.0.5
    restart: unless-stopped    
    container_name: nextcloud-app
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.nginx.rule=Host(`nextcloud.dajays.com`)"
      - "traefik.http.routers.nginx.entrypoints=https"
      - "traefik.http.routers.nginx.tls=true"
      #- "traefik.http.services.nginx.loadbalancer.server.port=8080"    
    environment:
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
      - MYSQL_HOST=db   
    env_file: .env          
    networks:
      - frontend
    ports:
      - 8080:80  
    links:
      - db     
    volumes:
      - entertainment:/entertainment
      - data:/var/www/html
      - /etc/localtime:/etc/localtime:ro
    depends_on:
      - db
      
volumes:
  data:
    driver: local
    driver_opts:
      type: nfs
      o: "addr=10.69.5.11,rw,noatime,rsize=8192,wsize=8192,tcp,timeo=14,nfsvers=4"
      device: ":/volume1/${NFS_SHARED_FOLDER}/nextcloud/data"
  db:
    driver: local
    driver_opts:
      type: nfs
      o: "addr=10.69.5.11,rw,noatime,rsize=8192,wsize=8192,tcp,timeo=14,nfsvers=4"
      device: ":/volume1/${NFS_SHARED_FOLDER}/nextcloud/db" 
  entertainment:
    driver: local
    driver_opts:
      type: nfs
      o: "addr=10.69.5.11,rw,noatime,rsize=8192,wsize=8192,tcp,timeo=14,nfsvers=4"
      device: ":/volume1/entertainment"           

networks:
  frontend:
    external: true
    name: frontend
