services:
  db:
    image: mariadb:11.4
    restart: unless-stopped    
    command: --transaction-isolation=READ-COMMITTED --binlog-format=ROW --innodb-file-per-table=1 --skip-innodb-read-only-compressed
    container_name: nextcloud-mariadb
    environment:
      - MYSQL_ROOT_PASSWORD=${MYSQL_ROOT_PASSWORD}
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
    env_file: .env      
    networks:
      - frontend
    volumes:
      - db:/var/lib/mysql
      - /etc/localtime:/etc/localtime:ro
  
  app:
    image: nextcloud:32.0.5
    restart: unless-stopped    
    container_name: nextcloud-app

    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.nextcloud-app.rule=Host(`nextcloud.dajays.com`)"
      - "traefik.http.routers.nextcloud-app.entrypoints=http"
      #- "traefik.http.routers.nginx.tls=true"
      #- "traefik.http.services.nginx.loadbalancer.server.port=8080"    
      ##################
#      - "traefik.http.middlewares.nextcloud-https.redirectscheme.scheme=https"
#        # HTTPS
#      - "traefik.http.routers.nextcloud.rule=Host(`nextcloud.dajays.com`)"
#      - "traefik.http.routers.nextcloud.entrypoints=https"
#      - "traefik.http.routers.nextcloud.tls=true"
#      # uncomment only if you actually have this resolver
#      # - "traefik.http.routers.nextcloud.tls.certresolver=le"
#
#      - "traefik.http.routers.nextcloud.service=nextcloud"
#      - "traefik.http.services.nextcloud.loadbalancer.server.port=8080"

    environment:
      - MYSQL_PASSWORD=${MYSQL_PASSWORD}
      - MYSQL_DATABASE=nextcloud
      - MYSQL_USER=nextcloud
      - MYSQL_HOST=db 
      - NEXTCLOUD_ADMIN_USER=${NEXTCLOUD_ADMIN_USER}
      - NEXTCLOUD_ADMIN_PASSWORD=${NEXTCLOUD_ADMIN_PASSWORD}
      - NEXTCLOUD_TRUSTED_DOMAINS=${NEXTCLOUD_TRUSTED_DOMAINS}    
    env_file: .env          
    networks:
      - frontend
    #ports:
    #  - 8080:80  
    links:
      - db     
    volumes:
      - app:/var/www/html
      #- data:/var/www/html/data
      #- config:/var/www/html/config
      #- custom_apps:/var/www/html/custom_apps
      #- theme:/var/www/html/themes
      - entertainment:/entertainment
      - /etc/localtime:/etc/localtime:ro
    depends_on:
      - db
      
volumes:
  app:
    driver: local
    driver_opts:
      type: nfs
      o: "addr=10.69.5.11,rw,noatime,rsize=8192,wsize=8192,tcp,timeo=14,nfsvers=4"
      device: ":/volume1/${NFS_SHARED_FOLDER}/nextcloud/app"
  #data:
  #  driver: local
  #  driver_opts:
  #    type: nfs
  #    o: "addr=10.69.5.11,rw,noatime,rsize=8192,wsize=8192,tcp,timeo=14,nfsvers=4"
  #    device: ":/volume1/${NFS_SHARED_FOLDER}/nextcloud/app/data"    
  #config:
  #  driver: local
  #  driver_opts:
  #    type: nfs
  #    o: "addr=10.69.5.11,rw,noatime,rsize=8192,wsize=8192,tcp,timeo=14,nfsvers=4"
  #    device: ":/volume1/${NFS_SHARED_FOLDER}/nextcloud/app/config"
  #custom_apps:
  #  driver: local
  #  driver_opts:
  #    type: nfs
  #    o: "addr=10.69.5.11,rw,noatime,rsize=8192,wsize=8192,tcp,timeo=14,nfsvers=4"
  #    device: ":/volume1/${NFS_SHARED_FOLDER}/nextcloud/app/custom_apps"
  #theme:
  #  driver: local
  #  driver_opts:
  #    type: nfs
  #    o: "addr=10.69.5.11,rw,noatime,rsize=8192,wsize=8192,tcp,timeo=14,nfsvers=4"
  #    device: ":/volume1/${NFS_SHARED_FOLDER}/nextcloud/app/themes"      
  db:
    driver: local
    driver_opts:
      type: nfs
      o: "addr=10.69.5.11,rw,noatime,rsize=8192,wsize=8192,tcp,timeo=14,nfsvers=4"
      device: ":/volume1/${NFS_SHARED_FOLDER}/nextcloud/db" 
  entertainment:
    driver: local
    driver_opts:
      type: nfs
      o: "addr=10.69.5.11,rw,noatime,rsize=8192,wsize=8192,tcp,timeo=14,nfsvers=4"
      device: ":/volume1/entertainment"           

networks:
  frontend:
    external: true
    name: frontend
